@using ShopApplication.Dtos
@model CreateItem

@using (Html.BeginForm("AddItem", "Item", FormMethod.Post))
{
    @Html.LabelFor(a => a.Item.Name)
    @Html.TextBoxFor(a => a.Item.Name)
    @Html.ValidationMessageFor(a => a.Item.Name,"",new{@class= "validation"})

    <div>Select shop for Item</div>
    @Html.DropDownListFor(a => a.Item.ShopId, new SelectList(Model.AllShops, "Id", "Name"), "", new { @class = "form-control" }) 
    
    @Html.LabelFor(a => a.Item.ItemTags)
    @Html.ListBoxFor(a => a.SelectedTagIds, new SelectList(@Model.Tags,"Id", "Name"))
    @Html.ValidationMessageFor(a => a.Item.ItemTags)


    <input type="submit" value="Submit"/>
} 